
  
  section, canvas {
    padding: 30px;
    border: 2px solid red;
  }
  
  canvas {
    height: 400px;
    width: 600px;
  }

  .myList, ul, li {
    list-style-type: none
}

* {
    box-sized: border-box;
}



body, html {
    background-color:#808080
    height: 100%;
    margin: 0px;
    padding: 0;
    width: 1005
}



h1 {
    font-size: 70px;
    text-align: center;
    margin: 10px;
}

main {
    text-align: center;
}

p {
    font: bold;
    font-size: 30px;

}

section {
    float: left;
    width: 30%;
  }

ul #navbar {
position: relative;
top: 80px;
left: 210px;
margin-left: inherit;
list-style-type: none;
}

img {
        border-radius: 50%;
    }

  



section, canvas {
    padding: 30px
    border: solid red;

}


.button {
    background-color: green;
    border: none;
    color: white;
    padding: 20px 300px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.button:hover {
    background: green;