

header {
    text-align: center;
    margin-top: 30px;
}

header ul li {
    font: Sans-serif;
    display: inline-block;
}

ul, li {
    list-style-type: none
}

   ul {
    float: left;
   }
    
   .vert {
    list-style-type: none;
}


header a {
    color: purple
}

h1 {

        color: blue;
        font-family:cursive;
        font-size: 70px;
        text-align: center;
        margin: 10px;

}

.tilt:hover {
    transform: rotate(25deg);

}

#pics {
    margin-top: 50%;
    text-align: center;
}


#pics img {
    border: 2px solid red;
    height: 200px;
    margin-right: 30px;
    width: 200px;

}

img {
    border-radius: 50%;
}


#pics h1{
  margin-bottom: 30px;
  font-size: 20px;
}

#pics img {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
  
}



.charSec {
    margin: 70px auto;
    width: 960px;
}

section, canvas {
    padding: 30px;
    border: 2px solid red;
  }

.chart{
    display: table;
    table-layout: fixed;
    max-width: 700px;
    margin: 0 auto;
    height: 200px;
    width: 60%;
}
